{% extends 'base.html' %}

<h1>{% block title %}Register{% endblock %}</h1>

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form method="post">
                <div class="mb-3">
                    <label for="fullname" class="form-label">Full Name</label>
                    <input class="form-control" name="full-name" id="fullname" required>
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input class="form-control" name="username" id="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input class="form-control" type="password" name="password" id="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}